@mixin mobile {
    @media screen and (min-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin flexcolumn-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexrow-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}