$color-primary: #283149;
$color-secondary: #404B69;
$color-ternary: #F73859;
$color-quaternary: #DBEDF3;

$font-name: 'Lalezar', 'cursive';
$font-title: 'Oswald', sans-serif;
$font-text: 'Karla', sans-serif;

$color-text: #fff;

$breakpoints:(
    mobile: 360px,
    tablet:700px,
    desktop: 992px,
)