.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    &--container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &--message{
        border-left: 5px solid $color-ternary;
        padding-left: .5em;
        margin-left: 6em;
        margin-bottom: 1em;
        font-size: 1.2em;
        width: 70%;
        // text-align: center;
    }
    &--left{
        width: 40%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &--right{
        width: 40%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    &--item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        &__label{
            font-size: 1.3em;
            margin-bottom: .5em;
        }
        &__input{
            outline: none;
            font-size: 1.1em;
            margin-bottom: .5em;
            padding: .3em 0em;
            width: 80%;
            font-family: $font-text;
        }
        &__textarea{
            height: 7em;
            outline: none;
            font-size: 1.3em;
            margin-bottom: .5em;
            padding: .3em;
            width: 100%;
            font-family: $font-text;
        }

    }
    &--btn{
        color: $color-primary;
        font-weight: bold;
        align-self: flex-end;
        cursor: pointer;
        font-size: 1em;
        padding: .5em 1em;
        border: 2px solid $color-primary;
    }
}