.loading{
    &--wrapper{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #283149be;
    // background-color: #28314984;
    @include flexcolumn-center;
    display: none;
    gap: .5em;
}
    &--circle__outer{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 10px solid transparent;
        border-left-color: $color-ternary;
        animation: spin 1s linear infinite;
    }
    &--circle__inner{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 10px solid transparent;
        border-top-color: white;
        animation: spin 1.3s linear infinite;
    }
    &--message{
        @include flexrow-center;
        font-size: 1.3em;
        gap: .1em;
        &__dot1{
            animation: dot .5s ease-out infinite;
        }
        &__dot2{
            animation: dot .5s ease-out infinite;
            animation-delay: .33s;
        }
        &__dot3{
            animation: dot .5s ease-out infinite;
            animation-delay: .66s;
        }
    }
}

@keyframes spin{
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes dot{
    from {
        transform: translateY(-10%);
    }
    to {
        transform: translateY(5%);
    }
}