.signature {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    &--name {
        border: 1px solid black;
        font-family: $font-name;
        font-size: 8em;
        line-height: 1.3;
        @include tablet {
            border: 1px solid red;
            font-size: 7em;
        }
        @include mobile {
            border: 1px solid green;
            font-size: 6em;
        }
        & span {
            color: $color-ternary;
            &:hover {
                color: #fff;
            }
        }
    }
    &--job {
        font-size: 2em;
        @include tablet {
            border: 1px solid red;
            font-size: 1.7em;
        }
        @include mobile {
            border: 1px solid green;
            font-size: 1.5em;
        }
    }
}
