.signature {
    margin-top: 2.5em;
    @include flexcolumn-center;
    margin-bottom: 3em;
    &--name {
        font-family: $font-name;
        font-size: 4.3em;
        line-height: 1.3;
        @include tablet {
            font-size: 7em;
        }
        @include desktop {
            font-size: 8em;
        }
        & span {
            color: $color-ternary;
            &:hover {
                color: #fff;
            }
        }
    }
    &--job {
        font-family: $font-title;
        font-size: 1.6em;
        @include tablet {
            font-size: 2.2em;
        }
        @include desktop {
            font-size: 2.3em;
        }
    }
}
