.presentation{
    &--container{
        width: 100%;
        margin-top: 3.5em;
        // margin-bottom: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &--content{
        text-align: center;
        font-size: 1.4em;
        width: 70%;
        @include mobile{
            width: 90%;
        }
    }
}

.homepage--presentation{
    margin-top: 2em;
    text-align: center;
    width: 70%;
    margin: 3em auto;
    font-size: 1.4em;
    // font-style: italic;
    margin-bottom: 5em;
    @include tablet{
        border: 1px solid green;
    }
    @include mobile{
        border: 1px solid red;
        width: 90%;
    }
}