.presentation {
    @include flexcolumn-center;
    gap: 1em;
    &--block {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 0.5em;
        @include tablet {
            gap: 1em;
        }
        &__year {
            align-self: flex-start;
            padding: 0.3em;
            color: #e64848;
            border: 1px solid $color-quaternary;
            font-family: $font-title;
            border-radius: 5px 5px 0px 5px;
            box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.5);
            background-color: white;
            @include tablet{
                font-size: 1.1em;
            }
        }
        &__content {
            font-size: 1.05em;
            @include tablet {
                font-size: 1.2em;
            }
            & a {
                color: #fff;
                text-decoration: underline;
                &:active {
                    text-decoration: none;
                }
            }
        }
    }
}

.special-content {
    font-weight: 600;
}
