.section-wrapper{
    margin: 0 auto;
    width: 98%;
    padding-top: 2em;
    @include tablet{
        width: 90%;
    }
    &--top{
        @include flexrow-center;
        justify-content: space-between;
        padding-left: .5em;
        margin-bottom: 1em;
        cursor: pointer;
    }
    &--title{
        font-family: $font-title;
        font-size: 1.5em;
        border-left: .3em solid $color-ternary;
        padding-left: .4em;
        @include tablet{
            font-size: 1.7em
        }
    }
    &--icon{
        @include flexcenter;
        font-size: 2em;
        @include tablet{
            font-size: 2.5em;
        }
    }
    &__content{
        padding: 1em 0.5em;
    }
}