.stack{
    @include flexrow-center;
    gap: 1em;
    margin-bottom: 3em;
    @include tablet{
        gap: 2em;
    }
    &--icon{
        font-size: 3em;
        color: $color-quaternary;
        @include tablet{
            cursor: pointer;
            font-size: 3.5em;
            &:hover{
                transform: scale(1.2);
                color: #fff
            }
        }
        
    }
}