.footer{
    background-color: $color-quaternary;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.3em;
    padding: 2em 0em;
    & p{
        font-size: 1.3em;
        color: $color-primary;
    }

    &--icon{
        font-size: 2.2em;
        color: #000;
        cursor: pointer;
        &__container{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .3em;
            & a {
                text-decoration: none;
                font-size: 1.3em;
                color: #000;
            }
        }
    }

}