.footer {
    position: relative;
    background-color: $color-quaternary;
    @include flexcolumn-center;
    margin-top: 2em;
    padding: .5em 1em;
    &--back-to-top{
        position: absolute;
        bottom: 1em;
        right: 1em;
        margin-left: auto;
        @include flexrow-center;
        gap: .5em;
        & i {
            color: $color-primary;
            font-size: 1.8em;
        }
        & a {
            font-family: $font-title;
            font-size: 1.3em;
            color: $color-primary;
            text-decoration: none;
        }
    }
    &--social-media{
        align-self: flex-start;
        width: 100%;
        font-family: $font-text;
        display: flex;
        flex-direction: column;
        gap: .2em;
        color: $color-primary;
        font-size: 1.3em;
        font-family: $font-title;
        &__icons{
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            color: $color-primary;
            & a {
                text-decoration: none;
                color: $color-primary;
                @include flexcenter;
                align-self: flex-start;
                gap: .3em
            }
            & i {
                font-size: 1.3em;
            }
        }
    }
}